@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    box-sizing: border-box;
}
  
/* VARIABLES */
:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Work Sans', sans-serif;
    --bg-color: #E6F4F4;
    --primary-color: #0B8B8B;
    --secondary-color: #D70F0F;
    --text-main: #1E2029;
    --textnew-main: #8D0A0A;
}

/* navbar */
.title{
    color: #D70F0F;
    font-weight: 600;
}
.navbar{
    background-color: transparent;
}
.nav-item{

    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 22px;

text-align: center;

}
section{
    height: 100vh;
    width: 100%;
    margin: 0;

}

  
/* homepage */

.mainbg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 5px;
    
}
.mic{


left: 0.69px;
top: -65px;


}




/*lobby */

.lobby-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 20px;
text-align: center;

}

.icons{
    height: 74px;
    width: 74px;
    object-fit: scale-down;
}

.maintext{


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 38px;
/* or 117% */

letter-spacing: -0.5px;
color: #fff;
}
.box1{
    position: absolute;
width: 361px;
height: 161px;
left: 952px;
top: 270px;
}

.overlay{
    width: 100%;
    height: 70vh;
    background: rgba(255, 255, 255, 0.005);
box-shadow: 0px 1.1966px 29.915px rgba(69, 42, 124, 0.1);
backdrop-filter: blur(2px);
}

.button1{
    background-color:var(--secondary-color);
}


.about-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 54px;
border-left: 5px solid var(--secondary-color);


color: var(--text-main);

}

.about-text{
 

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 30px;

color: #191616;
}
.about-text-box{

    width: 1028px;
    height: 535px;

    position: absolute;
    padding: 20px 20px;
    display: block;
    margin: auto;
}
.button2{
    font-weight: 400;
    background-color:var(--text-main);
}


/*PHASES*/

.phases{
    background-color: var(--textnew-main);
}

.container1{
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
backdrop-filter: blur(42px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 16px;
}


/*phase */

.phase-text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22x;

color: #FFFFFF;
}

.phase-title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 51px;
text-align: center;

color: #FFFFFF;
}